<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
	<title>SignIn</title>
	<link rel="stylesheet" th:href="@{/Css/login.css}">
</head>
<body>
	<div id="full-border">
	<h2 id="login-title">Signin</h2>
	<div id="forms">
	<form th:action="@{/signin}" th:object="${studentModel}" method="post">
		<label>Email</label>
		<input type="email" th:field="*{email}" required>
		<span th:if="${#fields.hasErrors('email')}"
		th:errors="*{email}"></span>
		
		<label>Password</label>
		<input type="password" th:field="*{password}" required>
		<span th:if="${#fields.hasErrors('password')}"
		th:errors="*{password}"></span>
		
		<button type="submit" id="login-btn">Signin</button>
		<p id="signin">Dont have Account?<a th:href="@{/}">Login</a></p>
		
		<p th:text="${error}" style="color:red">[[${error}]]</p>
	</form>
	</div>
	</div>
</body>
</html>